<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Who I am?</h1>
    <p>
        Ever since I was young, technology has captivated my interest. The drive to understand how things work has been a constant in my life. Exploring and delving into the intricacies of technology has always been a source of excitement for me.

Learning and mastering new tools, especially those that enhance my skills as a web developer, is something I'm deeply passionate about. As I continue my studies at university, I eagerly absorb all the knowledge that can amplify my abilities in this field.

Looking ahead, I envision myself working at my own pace, leveraging the skills and insights I've acquired to craft unique projects. The idea of taking on my own projects and having the freedom to work creatively is something I aspire to after university.

My ultimate goal is to bring forth innovative and exceptional creations by pushing the boundaries of what technology can achieve. I see a future where I harness technology to its fullest potential, creating amazing and groundbreaking things through my dedication, skills, and passion for development.
    </p>
</body>
</html>