<footer>
    <h1>Website</h1>
    <p>
        This website was developed by Rolando Chirinos, nodejs, ejs, express and bootstrap were used to create this, this page was created with the aim of learning a little more about how nodejs works and the tools mentioned
    </p>
</footer>